<div class="container">
  <h1><%= @list.name %></h1>
  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list), {class: "btn btn-primary"} %>

  <div class="movie-cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-movie">
        <img src=<%= bookmark.movie.poster_url %> />
        <div class="card-movie-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <p><%= bookmark.movie.overview %></p>
            <h2>Comment: <%= bookmark.comment %></h2>
          </div>
          <h2 class="card-movie-rating"><%= bookmark.movie.rating %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
